<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Curently supported browsers: Chrome, Firefox-->
		<add key ="BROWSER" value="Chrome"/>
		<!--Set a path where to store the test resutls-->
		<add key ="TEST_RESULTS" value="C:\Users\aleks\OneDrive\Desktop\VS\GreenTubeSF\TestResults\"/>
	</appSettings>
</configuration>